#craps-game {
    background-image: url('../images/Casino.jpg');
    background-position: center top;
    color:  #F8FAFC;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.85);
}

.craps-game-title{
    text-align: center;
    margin-top: 100px;
}

.craps-game-container {
    width: min(700px, 80vw);
    height: min(500px, 57vw);
    border: solid white 2px;
    margin: 100px auto 0 auto;
    background-image: url('../images/CasinoTable.jpg');
    background-size: cover;
    background-position: center top;
    }

    .craps-registration-pane {
        margin-top: 55px;
        text-align: center;
    }

    .craps-registration-input {
        background: none;
        border: none;
        border-bottom: solid  white 1px;
        margin-top: 25px;
        color: #F8FAFC;
        text-align: center;
    }
    
    .craps-registration-input:focus {
        outline-width: 0;
    }

    .craps-registration-continue {
        margin-top: 25px;
    }

    .craps-registration-continue:hover {
        cursor: pointer;
        font-weight: bold;
    }

