h1 {
	color: blue;
}

button:hover {
 	 background-color: purple;
	 cursor: pointer;
	 font-size: 25px;
}

#title {
	text-align:center;
	padding-top: 200px;
	background-image: url('../images/matti-johnson-n3_J3hycelY-unsplash.jpg');
	background-position: center top;

}

