:root {
	--titleSectionPrimaryColor: rgb(90, 70, 50);
	--titleSectionSecondaryColor: rgb(138, 106, 47);

}

#title {
	color: var(--titleSectionPrimaryColor);
	text-align: center;
	padding-top: 200px;
	background-image: url('../images/matti-johnson-n3_J3hycelY-unsplash.jpg');
	background-position: center top;
}

.title-section-button {
	color: var(--titleSectionPrimaryColor);
	border: solid var(--titleSectionPrimaryColor) 1px;
	border-radius: 5px;
	padding: 15px 20px;
	background-color: transparent;
}

.title-section-button:hover {
	background-color: var(--titleSectionPrimaryColor);
	color: var(--titleSectionSecondaryColor);
	cursor: pointer;
}



